<div class="container">
      <div class="card">
            <div class="card-content">
                  <p>{{$ctrl.eventEntry.event_name}}</p>
                  <p>{{$ctrl.eventEntry.event_location}}</p>
                  <p>{{$ctrl.eventEntry.event_description}}</p>
                  <p>{{$ctrl.eventEntry.event_date}}</p>
                  <p>{{$ctrl.eventEntry.event_cost}}</p>
                  <p>{{$ctrl.eventEntry._id}}</p>
            </div>
            <button class="btn" ng-click="$ctrl.showEvent(event._id)">View</button>
      </div>
</div>