<div class="container">
      <div class="card">
            <div class="card-content">
                  <h3>Event Name: </h3>{{$ctrl.eventEntry.event_name}}
                  <h3>Location: </h3>{{$ctrl.eventEntry.event_location}}
                  <h3>Description </h3>{{$ctrl.eventEntry.event_description}}
                  <h3>Date: </h3>{{$ctrl.eventEntry.event_date | date: shortDate}}
                  <h3>Tickets: </h3>{{$ctrl.eventEntry.event_cost | currency}}
                  <h3>Event ID: </h3>{{$ctrl.eventEntry._id}}
            </div>
            <p><button class="btn" ng-click="$ctrl.editEvent(event._id)">Edit</button></p>
      </div>
</div>