body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  padding: 0;
}

h1 {
  text-align: center;
}

.navbar {
  background-color: black !important;
  border-radius: 0px !important;
  margin: 0 !important;
}

.navbar-right {
  padding: 0 30px 0 0;
}

img {
  height: 100%;
  width: auto;
}

.navbar-brand {
  padding: 15px !important;
  height: 55px !important;
}

.nav-link {
  color: white !important;
  font-size: 16px;
}

.nav-link:hover {
  background-color: red;
  height: 100%;
  color: white !important;
  font-size: 16px;
}

li {
  display: inline-block;
}

.jumbotron {
  text-align: center;
  margin: 0 !important;
}