<div class="container">
      <div class="card">
            <div class="content">
                  <p>
                        <h3>First Name: </h3>{{$ctrl.userEntry.first_name}}
                        <h3>Last Name: </h3>{{$ctrl.userEntry.last_name}}
                        <h3>Email: </h3>{{$ctrl.userEntry.email}}
                        <h3>Title: </h3>{{$ctrl.userEntry.title}}
                  </p>
                  <p><button class="btn" ng-click="$ctrl.editEventEntry($ctrl.eventEntry._id)">Edit</button></p>
            </div>
      </div>
</div>