<div class="container">
  <h1>Events</h1>
  <form ng-submit="$ctrl.addEvent()">
    <div>Event Name:<input type="text" ng-model="$ctrl.eventName" required></div>
    <div>Event Location:<input type="text" ng-model="$ctrl.eventLocation" required></div>
    <div>Event Description: <input type="text" ng-model="$ctrl.eventDescription" required></div>
    <div>Event Date: <input type="text" ng-model="$ctrl.eventDate" required></div>
    <div>Event Cost: <input type="text" ng-model="$ctrl.eventCost" required></div>
    <div><input class="btn" type="submit" value="Add Event"></div>
  </form>
  <div class="show-events" ng-repeat="event in $ctrl.eventEntries">
      <p>{{event.event_name}}</p>
      <p>{{event.event_location}}</p>
      <p>{{event.event_description}}</p>
      <p>{{event.event_date}}</p>
      <p>{{event.event_cost}}</p>
      <p>{{event._id}}</p>
      <button class="btn" ng-click="$ctrl.showEvent(event._id)">View</button>
  </div>
</div>
