<div class="container">
    <div class="card">
        <div class="content">
            <form ng-submit="$ctrl.updateEventInformation($ctrl.eventToUpdate._id)">
                <div>Event Name: <input type="text" ng-model="$ctrl.eventToUpdate.event_name"></div>
                <div>Event Location: <input type="text" ng-model="$ctrl.eventToUpdate.event_location"></div>
                <div>Event Description: <input type="text" ng-model="$ctrl.eventToUpdate.event_description"></div>
                <div>Event Date: <input type="text" ng-model="$ctrl.eventToUpdate.event_date"></div>
                <div>Event Cost: <input type="text" ng-model="$ctrl.eventToUpdate.event_cost"></div>
                <br>
                <div><input class="btn" type="submit" value="Update event Entry"></div>
            </form>
        </div>
    </div>
</div>
