<div class="container">
  <h1>Posts</h1>
  <form ng-submit="$ctrl.addPost()">
    <div>Company Name:<input type="text" ng-model="$ctrl.companyName" required></div>
    <div>Position Title:<input type="text" ng-model="$ctrl.positionTitle" required></div>
    <div>Job Description: <input type="text" ng-model="$ctrl.jobDescription" required></div>
    <div>Date Available: <input type="text" ng-model="$ctrl.dateAvailable" required></div>
    <div><input class="btn" type="submit" value="Add to Posts"></div>
  </form>
  <div class="show-posts" ng-repeat="post in $ctrl.postEntries">
      <p>{{post.company_name}}</p>
      <p>{{post.position_title}}</p>
      <p>{{post.job_description}}</p>
      <p>{{post.date_available}}</p>
      <button class="btn" ng-click="$ctrl.showPost(post._id)">View</button>
  </div>
</div>