<div class="container">
    <div class="card">
        <div class="content">
            <form ng-submit="$ctrl.updatePostInformation($ctrl.postToUpdate._id)">
                <div><h3>Company Name: </h3><input type="text" ng-model="$ctrl.postToUpdate.company_name"></div>
                <div><h3>Position: </h3><input type="text" ng-model="$ctrl.postToUpdate.position_title"></div>
                <div><h3>Job Description: </h3><input type="text" ng-model="$ctrl.postToUpdate.job_description"></div>
                <div><h3>Date Available: </h3><input type="text" ng-model="$ctrl.postToUpdate.date_available"></div>
                <br>
                <div><input class="btn" type="submit" value="Update post Entry"></div>
            </form>
        </div>
    </div>
</div>
