<div class="container home">
    <h2>Events</h2>
    <div class="col-md-4" ng-repeat="event in $ctrl.eventEntries">
        <p><span class="bold">Event Name: </span>{{event.event_name}}</p>
        <p><span class="bold">Location: </span>{{event.event_location}}</p>
        <p><span class="bold">Date: </span>{{event.event_date | date: shortDate}}</p>
        <p><span class="bold">Cost: </span>{{event.event_cost | currency}}</p>
    </div>
</div>
<div class="container home">
    <h2>Postings</h2>
    <div class="col-md-4" ng-repeat="post in $ctrl.postEntries">
        <p><span class="bold">Company Name:</span> {{post.company_name}}</p>
        <p><span class="bold">Position Title:</span> {{post.position_title}}</p>
        <p><span class="bold">Date Available:</span> {{post.date_available | date: shortDate}}</p>
    </div>
</div>